# Supabase Configuration
VITE_SUPABASE_URL="https://bphwaehymtahrrlkvmqz.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJwaHdhZWh5bXRhaHJybGt2bXF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NDUwMzMsImV4cCI6MjA5MjUyMTAzM30.Xg7vFvEA9hg5zgO9sQHJL1cROu4EWKo55u5vzxSPCAo"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJwaHdhZWh5bXRhaHJybGt2bXF6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njk0NTAzMywiZXhwIjoyMDkyNTIxMDMzfQ.ZE_Sye0nVUvwHhHcCyHwHG4W1wkhXtLl7lZiFySiec0"

# Facebook
FB_VERIFY_TOKEN="super_secret_verification_123"
VITE_FB_APP_ID=

# Gemini API (Required)
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"
